body { 
    background: white;
}
.element { 
    width:20px;
    height:20px;
    border-radius: 400px;
    background-color: #215463; 
    margin: 3px;
    float: left; /*makes elements move horizonatally instead of vertically */ 
}