body { 
    background: -webkit-linear-gradient(left top, #E9967A, #8B0000); 
    
    margin:0;
}
.element { 
    width:200px;
    height:200px;
    border-radius:100px;
    background-color: #215463; 
    margin:10px;
    float: left; /*makes elements move horizonatally instead of vertically */ 
}