body {
    background-color: white
    ;
}

.menu {
    width: 800px;
    height: 30px;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-color: white;
    text-align: center;
    background-color: #BFBFBF;
    border-radius: none;
}

.menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.wrapper {
    font-size: 0;
}

.person {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    display: none;
}

.active {
    display: block;
}


.unit {
    width: 20%;
    height: 100px;
    background-color: black;
    display: inline-block;
}

.unit:hover .person {
    display: block;
}

.menu li{ 
display: inline; 
padding: 20px; 
}

.menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

.menu a:hover {
    color: #F9EC9F;
    background-color: none;
}

